header {
  justify-content: space-between;
  align-items: center;
  display: flex;

  background-color: var(--bg);
  color: var(--text);

  border-bottom: 1px solid color-mix(in oklab, var(--border-muted) 90%, transparent);

  padding: 0px 25px;

  height: 100%;
}

a {
  text-decoration: none;
  color: var(--text);
}

header > div {
  display: flex;
}

header > div > ul {
  justify-items: center;
  display: flex;

  list-style: none;
}

header > div > ul > li {
  margin: 0px 5px;

  color: var(--text-muted);

  font-family: var(--font-monospace);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 0.8rem;
}

h1 {
  display: flex;
  align-items: center;
}

h1 > img {
  height: 50px;
  margin-right: 10px;
}
