# Nestjs
PORT=3000

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

#Trust Proxy
TRUST_PROXY=true

# Sources
ENABLED_SOURCES=github,gitlab,codeberg,devto,osu,minecraft,mastodon,bluesky

# GitHub
GITHUB_TOKEN=

# GitLab
GITLAB_TOKEN=

# CodeBerg
CODEBERG_TOKEN=

# DevTo
DEVTO_TOKEN=

# Osu!
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# Mastodon
MASTODON_CLIENT_KEY=
MASTODON_CLIENT_SECRET=