<main class="home">
  <div class="center">
    <section class="about">
      <h1>Identifique sua presença digital.</h1>
      <p>
        Verifique a disponibilidade do seu nickname instantaneamente em várias redes sociais.
      </p>
    </section>

    <form class="scan" (submit)="onSubmit($event)">
      <svg lucideLink></svg>
      <input type="text" name="nickname" />
      <button>escanear</button>
    </form>
  </div>

  @if (sources().length > 0) {
    <div class="localHistory">
      <div>
        <h1 class="title">Histórico de Varreduras ({{ sources().length }})</h1>
        <button class="clear-btn" (click)="resetHistory()">limpa <svg lucideTrash></svg></button>
      </div>
      @for (status of sources(); track $index) {
        <a class="status" [routerLink]="[`u/${status.nickname}`]">
          <p class="nickname">@{{ status.nickname }}</p>
          <div class="texts">
            <p class="percentage force-{{ status.force }}">{{ status.percentage }}% livre</p>
            <p class="sources">•</p>
            <p class="sources">{{ status.notFound }}/{{ status.total }} fontes</p>
          </div>
          <div class="svg-content">
            <svg lucideArrowRight></svg>
          </div>
        </a>
      }
    </div>
  }
</main>
