<main class="home">
  <div class="center">
    <section class="about">
      <h1>Identifique sua presença digital.</h1>
      <p>
        Verifique a disponibilidade do seu nickname instantaneamente em várias redes sociais e receba conselhos e
        alternativas inteligentes de branding pessoal geradas por IA.
      </p>
    </section>

    <form class="scan" (submit)="onSubmit($event)">
      <svg lucideLink></svg>
      <input type="text" name="nickname" />
      <button>escanear</button>
    </form>
  </div>
</main>
